html{
	background-color: #F0F0F0;
}

#container
{
	width:600px;
	margin: 0 auto;
}

#grid
{
	 background-color: black;
	 height: 400px;
	 width: 400px;
}
.unit
{
    background-color: white;
    height: 100px;
    width: 100px;
    float: left;
		margin:1px;
}

.hover
{
	  background-color: blue;
}
